<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Tem certeza? :C" } %>
